{% extends "base.html" %}
{% block style %}
    <link rel="stylesheet" href="/css/c3.css">
{% endblock %}
{% block title %}Dashboard{% endblock %}
{% block content %}
    <h1 class="title is-1">
        Dashboard: EUCM
    </h1>
    <div id="graph"></div>
    <div class="box">
        <table class="table">
            <thead>
                <tr>
                    <th>Device ID</th>
                    <th>Status</th>
                    <th>Aircon</th>
                    <th>Total Aircon Usage(minutes)</th>
                    <th>Last Updates</th>
                </tr>
            </thead>
            <tbody>
                {% if devices %}
                    {% for d in devices %}
                    <tr>
                        <td>{{d.id}}</td>
                        <td>{{d.status}}</td>
                        <td>{{d.aircon}}</td>
                        <td>{{d.current_Total()}}</td>
                        <td>{{d.last_update}}</td>
                    </tr>
                    {% endfor %}
                {% else %}
                    <tr>
                        <td>N/A</td>
                        <td>N/A</td>
                        <td>N/A</td>
                        <td>N/A</td>
                        <td>N/A</td>
                    </tr>
                {% endif %}
            </tbody>
        </table>
    </div>

{% endblock %}

{% block script %}
<script src="./js/d3.v3.min.js" charset="utf-8"></script>
<script src="./js/c3.min.js" charset="utf-8"></script>
<script type="text/javascript">
    var data_buff = [];
    //Initial Graph
    var graph = c3.generate({
        bindto: '#graph',
        data: {
            json: [],
            keys: {
                x: 'time',
                value: ['aircon_usage']
            },
            names: {
                value: 'Air Conditioner Usage'
            },
            types: {
                aircon_usage: 'area',
            },
        },
        axis: {
            x: {
                type: 'timeseries',
                tick: { format: '%H:%M:%S' }
            }
        },
    });

    (function updateData() {
        $.ajax({
            url: '/json', 
            success: function (data) {
                console.log('Got Data...')
                console.log(data)
                $('tbody').empty();
                var ddata = data['raw'];
                var gdata = data['summary'];
                
                //Data Graph
                data_buff.push({
                    time: new Date(), aircon_usage: data['summary']['aircon_usage']
                });
                graph.axis.max(parseInt(data['summary']['total']));
                graph.axis.min(0);
                graph.load({
                    json: data_buff.slice(Math.max(data_buff.length - 20, 1)),
                    keys: {
                        x: 'time',
                        value: ['aircon_usage']
                    },
                    x: 'time'
                });

                //Data Table
                for (var d in ddata) {
                    $('tbody').append(`
                        <tr>
                            <td>` + ddata[d].id + `</td>
                            <td>` + ddata[d].status + `</td>
                            <td>` + ddata[d].aircon + `</td>
                            <td>` + ddata[d].totalTime + `</td>
                            <td>` + ddata[d].last_update + `</td>
                        </tr>
                    `   );
                }
            },

            complete: function() {
                // Schedule
                setTimeout(updateData, 1000);
            }
        });
    })();

</script>
{% endblock %}